DJANGO_SETTINGS_MODULE=ghrecommender.settings
DJANGO_CONFIGURATION=Dev
DJANGO_ALLOWED_HOSTS=api.ghrecommender.localhost
DJANGO_SESSION_COOKIE_DOMAIN=.ghrecommender.localhost
DJANGO_SECRET_KEY=**********

DJANGO_SOCIAL_AUTH_LOGIN_REDIRECT_URL=http://ghrecommender.localhost:3000/app/recommendations/
DJANGO_SOCIAL_AUTH_REDIRECT_IS_HTTPS=false
DJANGO_SOCIAL_AUTH_GITHUB_KEY=**********
DJANGO_SOCIAL_AUTH_GITHUB_SECRET=**********

POSTGRES_DB=github
POSTGRES_USER=github
POSTGRES_PASSWORD=githubpassword
DATABASE_URL=postgres://github:githubpassword@localhost/github

CACHE_URL=redis://localhost:6379/1
DJANGO_RPC_MODEL_URL=http://localhost:4000/jsonrpc
DJANGO_MONGO_HOST=127.0.0.1
